body {
    background-color: #e3edf7;
}

h1 {
    font-size: 1em;
    font-weight: 100;
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
    color: rgb(1, 245, 220);
}

h2 {
    font-weight: 700;
    color: rgb(252, 255, 255);
    width: 100%;
}

h2, h3 {
    font-size: clamp(20px, 5vw, 60px);
}

/* Navbar Section */
.navbar-container {
    background-color: rgb(10, 25, 47);
}

.nav-link, 
.navbar-brand img {
    width: 60px;
}

.nav-link {
    padding-top: 30%;
}

.navbar-toggler:active,
.navbar-toggler:hover,
.navbar-toggler:focus {
    border: none;
}


.nav-link:hover {
    opacity: .7;
}

/* Title Section */

.title {
    background-color: rgb(10, 25, 47);
    color: rgb(126, 130, 130);
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 500px;
    padding: 0 8% 0 8%;

}

.title-body {
    font-size: 1rem;
    max-width: 570px;
    margin-top: 30px;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.layer1 {
    background-image: url(/Images/peaks-top.svg);
}

.layer2 {
    background-image:url(/Images/peaks-bottom.svg)
}

/* Skill Section */

.skills {
    background-color: #e3edf7;
    background-image: #e3edf7;
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    padding: 0 5% 0 5%;
    text-align: center;

}

.skills-heading{

    color: rgb(10, 25, 47);
    margin: auto;
    padding: 0 0 5% 0;
}

.skill-progress {
    display: grid;
    place-items: center;
    margin: 0 0 5% 0;
}

.bottom-row-skill {
    margin-bottom: 1%;
}

/* Progress Bar Styles */

.progress-container {
    height: 160px;
    width: 160px;
    position: relative;
}

.outer {
    padding: 20px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.25),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.8);
}

.inner {
    margin: 0;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.25),
    inset -4px -4px 6px -1px rgba(0, 0, 0, 0.25),
    -0.5px -0.5px 0 rgba(0, 0, 0, 0.25),
    0.5px 0.5px 0 rgba(0, 0, 0, 0.15),
    0 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#skill1,
#skill2,
#skill3,
#skill4,
#skill5,
#skill6  {
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(10, 25, 47);

}

circle {
    fill: none;
    stroke: rgb(10, 25, 47);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    
}

#skill-progress1, 
#skill-progress2 {
    animation: animate-100  2s linear forwards;
}

@keyframes animate-100 {
    100%{
        stroke-dashoffset: 0;
    }
}

#skill-progress3 {
    animation: animate-90 2s linear forwards;
}

@keyframes animate-90 {
    100%{
        stroke-dashoffset: 110;
    }
}

#skill-progress5,
#skill-progress4 {
    animation: animate-60 2s linear forwards;
}

@keyframes animate-60 {
    100%{
        stroke-dashoffset: 176;
    }
}

#skill-progress6 {
    animation: animate-30 2s linear forwards;
}

@keyframes animate-30 {
    100%{
        stroke-dashoffset: 308;
    }
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
}

.skill-tag {
    color: rgb(126, 130, 130);
    font-size: 1em;
    font-weight: 700;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
}


/* Project Section */

.project-section {
    background-color: rgb(10, 25, 47);
    height: 1600px;
    padding: 0 10% 0 10%;
    color: #e3edf7;
   
}

.project-content {
    margin: 0;
    padding: 0;
    height: 500px;
}

.project-heading {
    font-weight: 700;
    color: rgb(252, 255, 255);
    width: 100%;
    font-size: clamp(20px, 5vw, 60px);
    text-align: center;
    padding-bottom: 50px;
}

.project-wrapper-right {
    display: inline-block;
    position: relative;
    text-align: right;
    max-width: 60%;
    transform: translate(50%, 30%);
}

.project-wrapper-left {
    display: inline-block;
    position: relative;
    text-align: left;
    max-width: 60%;
    transform: translate(10%, 30%);
}


#project1-link::before,
#project2-link::before,
#project3-link::before{
    content: '';
    height: 30%;
    width: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.5;
    border-radius: 5px;
    box-shadow: 
    -5px -5px 14px 1px rgba(255, 255, 255, 0.05),
    6px 6px 10px 2px rgba(0, 0, 0, .5);
}

#project1-link::before{
    background-image: url(/Images/NeverRelax.png);
}

#project2-link::before{
    right: 10%;
    background-image: url(/Images/SelfTaughDev.png);
}

#project3-link::before{
    background-image: url(/Images/Hydroponics.png);
}
.project-image:hover #project1-link::before, 
.project-image:hover #project2-link::before,
.project-image:hover #project3-link::before{
    opacity: 1;
}

.project-2 {
    text-align: left;
}

.project-title {
    font-size: 2em;
    font-weight: 700;

}

.project-summary {
    background-color: rgb(17, 34, 64);
    color: rgb(126, 130, 130);
    padding: 1% 1%;
    line-height: 1.6;
    
}

.project-tech img {
    display: inline-block;
    height: 40px;
    margin-right: 2%;
    transform: translateY(-3px);
}

.project-tech img:hover {
    opacity: 0.5;
}

.project-tech li {
    list-style: none;
    display: inline-block;
    border-left: 2px solid rgb(1, 245, 220);
    padding-left: 10px;
    padding-right: 6px;
    margin: 5px 0 0 5px;

}

.project-tech li:hover {
    outline: 2px solid rgb(1, 245, 220);
    border: none;
    padding-left: 11.5px;
}

/* Contact-section */

.contact-section {
    background-color: #e3edf7;
    background-image: #e3edf7;
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    padding: 0 5% 0 5%;
    text-align: center;
    height: 680px;
}


/* Contact Form Styles */
.contact-heading {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    color: rgb(10, 25, 47);
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-subheading {
    color: rgb(126, 130, 130);
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 40px;
}


.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}

.text-green-500 {
    color: green;
    font-weight: 500;
}

.text-gray-500 {
    color: rgb(126, 130, 130);
    font-weight: 500;
}

.result {
    color: black;
    font-size: 2em;
}

.contact-wrapper,
form {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.input-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}


label {
    align-self: flex-start;
    padding-left: 20px;
    margin-top: 10px;
    font-weight: 700;
    color: rgb(10, 25, 47);

}

.form-btn {
    height: 40px;
    width: 50%;
    margin-top: 10px;
    border-radius: .75em;
    background: rgb(169, 188, 217);
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}

.form-btn:hover {
    background: transparent;
    color: rgb(10, 25, 47);
    border: 1px solid rgb(10, 25, 47);
    
}

.message-input{
    height: 100%;
    width: 100%;
    
}

.message-input textarea {
    height: 75%;
    width: 100%;
    border-radius: .75em;
    padding: 1.25em 1em;
    background: transparent;
    border: 1px solid rgb(10, 25, 47);
    
}

.first-name ,
.last-name ,
.email-input {
    border: 1px solid rgb(10, 25, 47);
    border-radius: .5em;
    height: 40px;
    width: 100%;
    padding: 1.25em 1em;
    background: transparent;

}

.first-name:hover,
.last-name:hover,
.email-input:hover,
.message-input:hover textarea {
    box-shadow: inset 0 0 5px rgb(169, 188, 217);
}
.first-name:focus ,
.last-name:focus ,
.email-input:focus {
    box-shadow: inset 0 0 5px rgb(169, 188, 217);
    border: 1px solid rgb(10, 25, 47)   ;
}


